dataset
dataset_clean
venv
videoAutoencoder/__pycache__
__pycache__
dataset_{n_ckpt}_{k}_{cut}.pt
dataset_51_1_100_100.pt
ae/imageAE/wandb
ae/final_models
ae/imageAE/images_dataset
ae/imageAE/lightning_logs
ae/legacy
ae/imageAE/final_models
similarity_dataset