venv
__pycache__

ae/legacy
ae/imageAE/wandb
ae/imageAE/lightning_logs

ae/imageAE/final_models

atari/clustering/clustering_res
atari/dataset
atari/images_dataset
atari/similarity_dataset

highway-env/dataset
highway-env/subpolicies
highway-env/final_model
highway-env/HighwayEnv

transfer_learning/transfer_dataset
transfer_learning/__pycache__
transfer_learning/wandb

stable-baselines3